/**
 @author: Vandit Kothari/Jose Mathew
  @descriprion:  This is the style for div box in gameView.aspx page(user Control).
    @date : June 22,2016
*/

body {
}
.displaydiv {
    width:45%;
    height:50%;
    text-align:center;
    margin:10px;
    padding:15px;
    float:left;
    border:solid;
    border-color:#336600;
    border-width:15px;
    border-radius:15px;
}